          #root {
              color: red;
          }
          
          img {
              width: 300px;
              object-fit: contain;
          }
          
          .card-container {
              box-shadow: 0px 8px 7px 8px rgba(0, 0, 0, 0.35);
              width: 400px;
              height: 550px;
              color: rgb(184, 185, 183);
              border-radius: 15px;
              text-align: center;
          }
          
          .card-container>h1 {
              border: 2px solid black;
              padding: 25px;
              border-radius: 15px;
              color: black;
              font-size: 20px;
              text-align: center;
          }
          
          .card-container>div {
              padding: 0 20px;
          }
          
          .card-container>div>p {
              text-align: left;
          }
          
          #root>div {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
          }